@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=ABeeZee|Righteous');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	font-family: 'ABeeZee|Righteous', sans-serif;
}

.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url('../img/lighthouse.jpg') no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;
}

.splash {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;

}

.content {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 25%;
}

.content h1 {
	font-family: 'Righteous', sans-serif;
	font-size: 600%;
	font-weight: 500;
	color: #e65c00;
	line-height: 70%
}

.center {
	font-family: 'ABeeZee|Righteous', sans-serif;
	text-align: center;
}

.btn {
	font-family: 'ABeeZee|Righteous', sans-serif;
	font-size: 150%;
	font-weight: 800;
	color: #e65c00;
	text-decoration: none;
	border: solid #e65c00;
	padding: 10px 10px;
	border-width: 8px;
	border-radius: 4px;
	transition: all 0.5;
}

.btn:hover {
	color: #008ae6;
	border: solid #008ae6 ;
	border-width: 8px;
	border-radius: 4px;
}

.website-body{
	font-family: 'ABeeZee|Righteous', sans-serif;
	width: 100%;
	margin: 0 auto;

	font-size: 20px;
	line-height: 30px;
	text-align: justify;
}

p {

	font-size: 100%;
	line-height: 200%;
	font-family: sans-serif;
}


.parallax {
	padding: 100px 45px;
    background: transparent;
}

.info{
	z-index: 2;
	text-align: center;
	position: relative;
	color: #ffffff;
}

.logo {
	position: fixed;
	float: left;
	margin: 16px 36px;
	color: #e65c00;
	font-weight: bold;
	font-size: 24px;
}

.profilepic {
	width: 50%;
	height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-image: url('../img/Reid.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	
}

nav {
	z-index: 3;
	position: fixed;
	width: 100%;
}

nav ul {
	list-style: none;
	background: rgba(0,0,0,0);
	overflow: hidden;
	color: #e65c00;
	padding: 0;
	text-align: center;
	margin: 0;
	transition: 1s;

}

nav.scrolling ul {
	background: #F3F0E9;
	opacity: .75;
}


nav ul li {
	display: inline-block;
	padding: 20px;
}

nav ul li a {
	text-decoration: none;
	color: #e65c00;
	font-size: 20px;
	border: solid #e65c00;
	padding: 3px 10px;
	border-width: 2px;
	border-radius: 4px;
	transition: all 0.5;
}

nav ul li a:hover {
	color: #F3F0E9;
	border: solid #F3F0E9;
}

nav.scrolling ul li a:hover {
	color: #618AC0;
	border: solid #618AC0;
}

.btn:hover {
	color: #F3F0E9;
	border: solid #F3F0E9;
	border-width: 8px;
	border-radius: 4px;
}

.menu-icon {
	width: 100%;
	background: #F3F0E9;
	text-align: right;
	box-sizing: border-box;
	cursor: pointer;
	color: #F3F0E9;
	display: none;
}

.hamburger {
	padding: 5px 5px;
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #e65c00;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 5px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 7px);
    transform: rotate(-45deg) translate(-9px, 7px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -7px);
    transform: rotate(45deg) translate(-8px, -7px);
}

/* Media Queries */

@media screen and (max-width: 900px) {
	.content {
		padding-bottom: 30%;
	}

	.content h1 {
		font-size: 450%;
	}

	.btn {
		font-size: 130%;
		padding: 9px 17px;

	}

}

@media screen and (max-width: 768px) {
	.logo{
		position: fixed;
		top: 0;
		margin-top: 16px;
	}

	nav ul {
		max-height: 0px;
		background: #F3F0E9;
		opacity: 0.9;
	}

	nav.scrolling ul {
		background: ##F3F0E9;
		opacity: 0.75;
	}


	.showing {
		max-height: 25em;
	}

	nav ul li {
		box-sizing: border-box;
		width: 100%;
		padding: 24px 0;
		text-align: center;
	}

	nav ul li a:hover {
		color: #7CA5D1;
		border: solid #7CA5D1;
	}

	.menu-icon {
		display: block;
	}

	.content {
		padding-bottom: 40%;
	}

	.content h1 {
		font-size: 450%;
	}

	.btn {
		font-size: 110%;
		padding: 7px 15px;
	}

	p {
		font-size: 120%;
		line-height: 100%;
	}
}

@media screen and (max-width:  480px){


	.logo{
		position: fixed;
		top: 0;
		margin-top: 16px;
	}

	nav ul {
		max-height: 0px;
		background: #F3F0E9;
		opacity: 0.9;
	}



	nav.scrolling ul {
		background: #F3F0E9;
		opacity: 0.75;
	}

	.showing {
		max-height: 25em;
	}

	nav ul li {
		box-sizing: border-box;
		width: 100%;
		padding: 24px 0;
		text-align: center;
	}

	nav ul li a:hover {
		color: #7CA5D1;
		border: solid #7CA5D1;
	}

	.menu-icon {
		display: block;
	}
	.content {
		padding-bottom: 70%;
	}

	.content h1 {
		font-size: 300%;
	}

	.btn {
		font-size: 110%;
		padding: 6px 14px;
	}

	p {
		font-size: 100%;
		line-height: 100%;
	}
}